/* 
Settings 
*/
/* 
Tools
*/
/* 
Generic 
*/
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased; }

html,
form,
input,
textarea,
button {
  font-family: "sofia-pro", sans-serif;
  font-size: 20px;
  font-weight: lighter;
  line-height: 1.5em; }
  @media screen and (min-width: 600px) {
    html,
    form,
    input,
    textarea,
    button {
      font-size: 25px; } }
  @media screen and (min-width: 1200px) {
    html,
    form,
    input,
    textarea,
    button {
      font-size: 30px; } }

/* 
Base 
*/
html {
  overflow: hidden;
  overflow-y: scroll; }

body {
  background: #fafafa;
  color: #31332e;
  text-align: center;
  overflow-x: hidden; }

h1, h2, h3 {
  font-family: "kepler-std-display", serif; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #d24444;
  transition: all 0.3s ease;
  display: inline-block; }
  a:hover, a:focus {
    color: #a22727; }

img {
  max-width: 100%; }

/* 
Objects
*/
.container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto; }
  @media screen and (min-width: 600px) {
    .container {
      width: 80%; } }
  @media screen and (min-width: 900px) {
    .container {
      width: 70%; } }
  @media screen and (min-width: 1200px) {
    .container {
      width: 60%; } }

.row:before, .row:after {
  content: " ";
  display: table; }

.row:after {
  clear: both; }

@media screen and (min-width: 600px) {
  .row > .column {
    float: left; }
    .row > .column.full {
      width: 100%; }
    .row > .column.two-thirds {
      width: 66.7%; }
    .row > .column.half {
      width: 50%; }
    .row > .column.third {
      width: 33.3%; }
    .row > .column.fourth {
      width: 25%; }
  .row.-reverse > .column {
    float: right; } }

/* 
Components
*/
body.flourish {
  background: url("../assets/img/glasses.png");
  background-repeat: no-repeat;
  background-size: 300px;
  background-position: 100% -3%; }
  @media screen and (min-width: 600px) {
    body.flourish {
      background-position: 95% -3%; } }
  @media screen and (min-width: 900px) {
    body.flourish {
      background-size: 400px;
      background-position: 80% -4%; } }

.main-header {
  position: relative; }
  .main-header > .logo {
    width: 50%;
    max-width: 10rem;
    padding-top: 5rem; }
    .main-header > .logo.-small {
      padding-top: 2.5rem;
      width: 30%; }
  .main-header > .title {
    font-size: 2.25em;
    line-height: 1em;
    font-weight: normal;
    padding-top: 2.5rem; }
    .main-header > .title + .cta {
      padding-top: 1.25rem; }
  .main-header > .subtitle {
    padding: 0 1em;
    padding-top: 2.5rem;
    text-align: left;
    font-size: .875em;
    line-height: 1.5em;
    font-weight: lighter; }
  .main-header > .flourish {
    display: none;
    max-height: 680px;
    max-width: none; }
    @media screen and (min-width: 900px) {
      .main-header > .flourish {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateY(50%) translateX(-100%); } }

.project-list {
  padding-top: 2.5rem; }

.project-item {
  text-align: left; }
  .project-item .preview-parent {
    height: 585px;
    position: relative; }
  .project-item .preview {
    height: 100%;
    max-width: none;
    position: absolute;
    left: -40%;
    transition: transform 0.6s ease; }
  .project-item .subheader {
    font-size: 1.25em;
    font-style: italic; }
  .project-item .text {
    font-size: .75em;
    padding-top: 1.25rem; }
  .project-item .cta {
    display: inline-block;
    margin-top: 1.25rem;
    padding: 0.15em 1.5em;
    text-align: center;
    font-size: .75em;
    font-weight: bold;
    color: #7ec3e1;
    border-radius: 2em;
    border: 2px solid #7ec3e1; }
    .project-item .cta:hover, .project-item .cta :active {
      background: #7ec3e1;
      color: #fafafa; }
  @media screen and (min-width: 600px) {
    .project-item {
      font-size: .75rem;
      line-height: 1.5em; }
      .project-item .preview-parent {
        left: 0; }
      .project-item .info-parent {
        position: relative;
        height: 585px; }
      .project-item .info {
        position: absolute;
        top: 50%;
        transform: translateY(-50%); }
      .project-item .preview {
        height: 100%;
        max-width: none;
        position: absolute;
        right: 0;
        left: auto; }
        .project-item .preview.-in-focus {
          transform: translateX(10%) rotate(5deg); }
      .project-item .row.-reverse .preview {
        left: 0; }
        .project-item .row.-reverse .preview.-in-focus {
          transform: translateX(-10%) rotate(5deg); } }
  @media screen and (min-width: 900px) {
    .project-item .preview-parent, .project-item .info-parent {
      height: 780px; } }

.main-footer {
  padding-top: 5rem;
  padding-bottom: 3.125rem;
  position: relative; }
  .main-footer > .header, .main-footer .text {
    font-weight: normal; }
  .main-footer > .header {
    font-size: 1.75em;
    line-height: 1em; }
  .main-footer > .text {
    padding-top: 1.25rem;
    font-size: .75em;
    line-height: 1.5em;
    font-weight: lighter; }
  .main-footer > form + .text {
    padding-top: 2.5rem; }
  .main-footer > .cta {
    padding-top: 0.625rem; }
  .main-footer > .copyright {
    display: block;
    padding-top: 2.5rem;
    font-size: .625em;
    color: #9f9f9f; }
  .main-footer > .flourish {
    display: none;
    max-width: none; }
    @media screen and (min-width: 900px) {
      .main-footer > .flourish {
        display: block;
        position: absolute;
        bottom: 0; }
        .main-footer > .flourish.-milk {
          max-height: 682px;
          left: 0;
          transform: translateX(-80%); }
        .main-footer > .flourish.-crumbs {
          max-height: 370px;
          right: 0;
          transform: translateX(60%); } }

.contact-form {
  font-size: .75em;
  max-width: 20rem;
  margin: 0 auto;
  position: relative; }
  @media screen and (min-width: 900px) {
    .contact-form {
      font-size: .625em; } }
  .contact-form label {
    display: block;
    padding-top: 1.25rem;
    color: #9f9f9f;
    cursor: pointer; }
  .contact-form input, .contact-form textarea {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 0.625rem;
    padding: .75em;
    border-radius: 2em;
    font-size: inherit;
    background-color: #e6e6e6;
    border: 2px solid transparent;
    transition: .3s ease;
    transition-property: background border; }
    .contact-form input:focus, .contact-form textarea:focus {
      outline: none;
      border-color: #7ec3e1;
      background-color: #fafafa; }
    .contact-form input[type='submit'], .contact-form textarea[type='submit'] {
      margin-top: 1.25rem;
      background: #fafafa;
      border-color: #d24444;
      color: #d24444;
      font-weight: bold;
      cursor: pointer;
      -webkit-appearance: none; }
      .contact-form input[type='submit']:hover, .contact-form input[type='submit'] :active, .contact-form textarea[type='submit']:hover, .contact-form textarea[type='submit'] :active {
        background: #d24444;
        color: #fafafa; }
  .contact-form > .flourish {
    max-width: none;
    position: absolute; }
    .contact-form > .flourish.-pen {
      display: none; }
    .contact-form > .flourish.-headphones {
      display: block;
      max-height: 350px;
      top: 0;
      right: 0;
      transform: translate(50%, -70%); }
    @media screen and (min-width: 600px) {
      .contact-form > .flourish.-headphones {
        transform: translate(40%, -80%); } }
    @media screen and (min-width: 900px) {
      .contact-form > .flourish.-pen {
        display: block;
        max-height: 390px;
        top: 0;
        right: 0;
        transform: translate(150%, 0%); }
      .contact-form > .flourish.-headphones {
        display: none; } }

/* 
Trumps & Hacks 
*/
@media screen and (min-width: 900px) {
  .u-nowrap {
    white-space: nowrap; } }

/*# sourceMappingURL=main.css.map */