body{
	font-family: "sofia-pro", sans-serif;
	font-weight: lighter;
	background: #f3f3f3;
	color: #2a2a2a;
}

header{
	padding-top: 7.5rem;
}

a{
	color: #d04548;
	text-decoration: none;
	transition: .3s ease;
}
	a:hover{
		color: #ff5558;
	}

main > header{
	padding-top: 5rem;
}

main > section{
	padding: 10rem 0;
}

nav ul,
.logo,
.copyright{
	text-align: center;
}
	@media (min-width: 550px) {
		.logo,
		.copyright{
			text-align: left;
		}

		nav ul{
			text-align: right;
		}
	}

nav li{
	display: inline-block;
	padding-left: 10%;
}
	nav li:first-child{
		padding-left: 0;
	}

.nav-links a{
	color: inherit;
	text-decoration: none;
	transition: color .3s ease;
}
	.nav-links a:hover{
		color: #d04548;
		opacity: 1;
	}

img{
	max-width: 100%;
	vertical-align: top;
}

.logo{
	max-width: 100px;
	display: block;
	margin: 0 auto;
	transition: .3s ease;
}
	.logo:hover{
		-webkit-transform: scale(1.1);
		transform: scale(1.1);
	}

.definition section + section{
	padding-top: 5rem;
}

.definition *:not(div){
	margin: 0;
}

.definition h2{
	line-height: 1.5em;
}

.about{
	color: #f3f3f3;
	background: #d04548;
}

.cta{
	text-align: center;
}

.cta .button-primary{
	background: #d04548;
	border: transparent;
	height: auto;
	font-size: 2rem;
	padding: .5em;
	box-sizing: border-box;
	border-radius: 10px;
	letter-spacing: .1em;
	transition: .5s ease;
}
	.cta .button-primary:hover{
		background: #ff5558;
	}
	@media (min-width: 550px) {
		.cta .button-primary{
			font-size: 2.5rem;
		}
	}
	@media (min-width: 750px) {
		.cta .button-primary{
			font-size: 3rem;
		}
	}

.project-list,
.project__image-list,
.team-list,
.resume{
	margin-top: 2%;
}

.project{
	background: black;
	color: #f3f3f3;
	display: block;
	position: relative;
	background-size: cover;
	background-position: center;
	background-repeat: none;
	overflow: hidden;
	text-decoration: none;
	height: 0;
	padding:0 0 40% 0;
	border-radius: 10px;
}
	.project:hover{
		color: #f3f3f3;
	}

	@media (max-width: 850px) {
		.one-half{
			width: 100% !important;
		}

		.one-half + .one-half{
			margin-left: 0;
			margin-top: 2.5%;
		}
	}

.project__info{
	padding-left: 4%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0,0,0,0) 100%);
	-webkit-transition: .5s ease;
	transition: .5s ease;
}

.project__info.light{
	color: #2a2a2a;
	background: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255,255,255,0) 100%);
}

.project__info h2{
	max-width: 60%;
	font-size: 2rem;
	margin-top: .5em;
}

.project__client{
	font-size: 1.5rem;
	margin-top: 1em;
	margin-bottom: 0;
}

.project__image{
	text-align: center;
}

.project__image img{
	width: 100%;
	border-radius: 10px;
}

.services-list{
	padding-bottom: 0;
}

.service + .service{
	padding-top: 5em;
}

.service__icon{
	max-width: 300px;
	width: 50%;
	display: block;
}
	.u-pull-right .service__icon{
		margin-left: auto;
	}
	@media (max-width: 850px) {
		.service__icon{
			margin: 0 auto;
			padding-bottom: 1em;
		}
	}

.team-list,
.resume{
	margin-bottom: 5%;
}

.team-member__image{
	max-width: 256px;
	width: 100%;
	border-radius: 10px;
}

.team-member__info h2{
	margin-bottom: 0;
}

.resume h3{
	font-size: 2.5rem;
	margin-bottom: .5em;
}

.resume h3 + p{
	font-size: 1em;
	margin-bottom: .5em;
}

.exp-item + .exp-item{
	border-top: 1px solid #d0cbd0;
	padding-top: 1em;
}


/* TYPOGRAPHY */
.serif{
	font-family: "kepler-std-display", serif;
	text-transform: uppercase;
	font-style: italic;
}

h1.serif{
	text-transform: none;
}

.huge{
	font-size: 4rem;
}
	@media (min-width: 550px) {
		.huge{
			font-size: 6rem;
		}
	}

span{
	color: #b5b5b5;
}

h1 + p{
	font-size: 1.25em;
}
	@media (min-width: 550px) {
		h1 + p{
			font-size: 1.5em;
		}
	}


/* COLOR */
.red{
	color: #d04548;
}

