---
layout: default
---
<div class="project-list">
  {% for project in site.data.projects %}
    <section class="project-item">
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 %}
      <div class="row -reverse">
      {% else %}
      <div class="row">
      {% endif %}
        <div class="column two-thirds">
          <img class="preview" src="assets/img/{{ project.code }}.preview.png" alt="{{ project.name }} project preview">
        </div>
        <div class="column third">
          <h3 class="subheader">{{ project.name }}</h2>
          <p class="text">{{ project.blurb }}</p>
          <a href="{{ project.url }}" class="cta">Learn More</a>
        </div>
      </div><!-- end .row -->
    </section><!-- end .project-item -->
  {% endfor %}
</div><!-- end .project-list -->