---
layout: default
---
<div class="project-list">
  {% for project in site.data.projects %}
    <section class="project-item">
      {% assign loopindex = forloop.index | modulo: 2 %}
      {% if loopindex == 1 %}
      <div class="row -reverse">
      {% else %}
      <div class="row">
      {% endif %}
        <div class="column two-thirds preview-parent">
          <a href="{{ project.url }}">
            <img class="preview" src="assets/img/{{ project.code }}.preview.png" alt="{{ project.name }} project preview">
          </a>
        </div>
        <div class="column third info-parent">
          <div class="info">
            <h3 class="subheader">{{ project.name }}</h2>
            <p class="text">{{ project.blurb }}</p>
            <a href="{{ project.url }}" class="cta" target="_blank" 
            onclick="ga('send', 'event', 'Projects', 'click', '{{ project.name }}');">
              Learn More
            </a>
          </div>
        </div>
      </div><!-- end .row -->
    </section><!-- end .project-item -->
  {% endfor %}
</div><!-- end .project-list -->