<footer class="main-footer" id="contact">
  <h2 class="header">Partner with Trimm</h2>
  <p class="text">Enough about us. Let's hear about you!</p>
  <form class="contact-form" action="http://formspree.io/admin@trimm.co" method="POST">
    <img src="assets/img/pen.png" class="flourish -pen">
    <img src="assets/img/headphones.png" class="flourish -headphones">
    <p>
      <label for="name">Name</label>
      <input type="text" name="name" id="name" placeholder="Ginger Snickerdoodle"/>
    </p>
    <p>
      <label for="phone">Phone Number</label>
      <input type="phone" name="phone" id="phone" placeholder="1-800-COOKIES"/>
    </p>
    <p>
      <label for="email">Email</label>
      <input type="email" name="_replyto" id="email" placeholder="doublestuff@oreo.com"/>
    </p>
    <p>
      <label for="info">Describe how we can help</label>
      <textarea id="info" name="message" rows="4" placeholder="I run a cookie delivery service. We need someone to design our app and spruce up our brand. Can we set up a time to talk this week?"></textarea>
    </p>
    <input type="hidden" name="_next" value="/thanks.html" />
    <input type="hidden" name="_subject" value="New Trimm Site Submission!" />
    <input type="submit" value="Send us your info!"/>
  </form>
  <p class="text">If you need to get in touch, email us:</p>
  <a class="cta" href="mailto:hello@trim.media" onclick="ga('send', 'event', 'Call to Action', 'click', 'footer')">
    hello@trim.media
  </a>
  <span class="copyright">© Trim Media LLC 2015</span>
  <img src="assets/img/milk.png" class="flourish -milk">
  <img src="assets/img/crumbs.png" class="flourish -crumbs">
</footer>
