/* 
Base 
*/
html{
	overflow: hidden;
	overflow-y: scroll;
}

body{
	background: $bg-color;
	color: $text-color;
	text-align: center;
	overflow-x: hidden;

	@include media-query($laptop) {
		background: url("../assets/img/glasses.png");
		background-size: 400px;
		background-repeat: no-repeat;
		background-position-x: 80%;
		background-position-y: -4%;
	}
}

h1, h2, h3{
	font-family: $font-title;
}

ul{
	list-style-type: none;
}

a{
	text-decoration: none;
	color: $primary-color;
	transition: all .3s ease;
	display: inline-block;

	&:hover,
	&:focus{
		color: darken($primary-color, 15%);
	}
}

img{
	max-width: 100%;
}
