/* 
Components
*/

.main-header{
	> .logo{
		width: 50%;
		max-width: 10rem;
		padding-top: $spacing-unit;
		@include media-query($laptop){
			padding-top: $spacing-unit * 2;
		}
	}
	> .title{
		font-size: 2.25em;
		line-height: 1em;
		font-weight: normal;
		padding-top: $spacing-unit;
	}
	> .subtitle{
		padding: 0 1em;
		padding-top: $spacing-unit;
		text-align: left;
		font-size: .875em;
		line-height: $line-height;
		font-weight: lighter;
	}
}

.project-list{
	padding-top: $spacing-unit;
}

.project-item{
	text-align: left;

	& .preview-parent{
		height: 390px;
		position: relative;
	}

	& .preview{
		height: 100%;
		max-width: none;
		position: absolute;
		left: 0;
	}

	& .subheader{
		font-size: 1.25em;
		font-style: italic;
	}
	& .text{
		font-size: .75em;
		padding-top: $spacing-unit / 2;
	}
	& .cta{
		display: inline-block;
		margin-top: $spacing-unit / 2;
		padding: .15em 1.5em;
		text-align: center;
		font-size: .75em;
		font-weight: bold;
		color: inherit;
		border-radius: $border-radius;
		border: 2px solid $text-color;

		&:hover,:active{
			background: $text-color;
			color: $bg-color;
		}
	}

	@include media-query($tablet) {
		font-size: .75rem;
		line-height: 1.5em;

		& .preview-parent, .info-parent{
			position: relative;
			height: 585px;			
		}

		& .info{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		& .preview{
			height: 100%;
			max-width: none;
			position: absolute;
			right: 0;
			left: auto;
			transition: transform .6s ease;
			&:hover{
				transform: translateX(10%) rotate(5deg);
			}
		}

		& .row.-reverse .preview{
			left: 0;
			&:hover{
				transform: translateX(-10%) rotate(-5deg);
			}
		}
	}

	@include media-query($laptop) {
		& .preview-parent, .info-parent{
			height: 780px;			
		}
	}
}

.main-footer{
	padding-top: $spacing-unit * 2;
	padding-bottom: $spacing-unit;
	
	> .header, .text{font-weight: normal;}

	> .header{
		font-size: 1.75em;
		line-height: 1em;
	}
	> .text{
		padding-top: $spacing-unit / 2;
		font-size: .75em;
		line-height: $line-height;
		font-weight: lighter;
	}
	> form + .text{
		padding-top: $spacing-unit;
	}
	> .cta{
		padding-top: $spacing-unit / 4;
	}
	> .copyright{
		display: block;
		padding-top: $spacing-unit;
		font-size: .625em;
		color: #9f9f9f;
	}
}

.contact-form{
	font-size: .625em;
	max-width: 20rem;
	margin: 0 auto;

	& label{
		display: block;
		padding-top: $spacing-unit / 2;
		color: #9f9f9f;
		cursor: pointer;
	}
	& input, textarea{
		display: block;
		width: 100%;
		margin: 0 auto;
		margin-top: $spacing-unit / 4;
		padding: .75em;
		border-radius: $border-radius;
		font-size: inherit;
		background-color: #e6e6e6;
		border: 2px solid transparent;
		transition: .3s ease;
		transition-property: background border;

		&:focus{
			outline: none;
			border-color: #7ec3e1;
			background-color: $bg-color;
		}

		&[type='submit']{
			margin-top: $spacing-unit / 2; 
			background: $bg-color;
			border-color: $primary-color;
			color: $primary-color;
			font-weight: bold;
			cursor: pointer;
			-webkit-appearance: none;
			&:hover,:active{
				background: $primary-color;
				color: $bg-color;
			}
		}
	}
}




