/*
Components
*/

body.flourish{
	background: url("../assets/img/glasses.png");
	background-repeat: no-repeat;
	background-size: 300px;
	background-position: 100% -2.5%;
	@include media-query($tablet) {
		background-position: 95% -3%;
	}
	@include media-query($laptop) {
		background-size: 400px;
		background-position: 80% -3%;
	}
}

.main-header{
	position: relative;

	> .logo{
		width: 50%;
		max-width: 10rem;
		padding-top: $spacing-unit * 2;

		&.-small{
			padding-top: $spacing-unit;
			width: 30%;
		}
	}
	> .title{
		font-size: 2.25em;
		line-height: 1em;
		font-weight: normal;
		padding-top: $spacing-unit;
		& + .cta{
			padding-top: $spacing-unit / 2;
		}
	}
	> .subtitle{
		padding: 0 1em;
		padding-top: $spacing-unit;
		text-align: left;
		font-size: .875em;
		line-height: $line-height;
		font-weight: lighter;
	}

	> .flourish{
		display: none;
		max-height: 680px;
		max-width: none;
		@include media-query($laptop) {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			transform: translateY(50%) translateX(-100%);
		}
	}
}

.project-list{
	padding-top: $spacing-unit;
}

.project-item{
	text-align: left;

	& .preview-parent{
		height: 585px;
		position: relative;
	}

	& .preview{
		height: 100%;
		max-width: none;
		position: absolute;
		left: -40%;
		transition: transform .6s ease;
	}

	& .subheader{
		font-size: 1.25em;
		font-style: italic;
	}
	& .text{
		font-size: .75em;
		padding-top: $spacing-unit / 2;
	}

	@include media-query($tablet) {
		font-size: .75rem;
		line-height: 1.5em;

		& .preview-parent{
			left: 0;
		}

		& .info-parent{
			position: relative;
			height: 585px;
		}

		& .info{
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}

		& .preview{
			height: 100%;
			max-width: none;
			position: absolute;
			right: 0;
			left: auto;
			&.-in-focus{
				transform: translateX(10%) rotate(5deg);
			}
		}

		& .row.-reverse .preview{
			left: 0;
			&.-in-focus{
				transform: translateX(-10%) rotate(5deg);
			}
		}
	}

	@include media-query($laptop) {
		& .preview-parent, .info-parent{
			height: 780px;
		}
	}
}

#team{
    & .subheader{
		font-size: 1.25em;
		font-style: italic;
        text-align: left;
	}

	& .text{
		font-size: .75em;
		padding-top: $spacing-unit / 2;
        text-align: left;
	}

    & .btn{
        text-align: left;
    }

    & .polaroid{
        width: 100%;
        max-width: 333px;
        margin: 0 auto;
        display: block;
    }

    @include media-query($tablet) {
		font-size: .75rem;
		line-height: 1.5em;
    }
}

.main-footer{
	padding-top: $spacing-unit * 2;
	padding-bottom: $spacing-unit * 1.25;
	position: relative;

	> .header, .text{font-weight: normal;}

	> .header{
		font-size: 1.75em;
		line-height: 1em;
	}
	> .text{
		padding-top: $spacing-unit / 2;
		font-size: .75em;
		line-height: $line-height;
		font-weight: lighter;
	}
	> form + .text{
		padding-top: $spacing-unit;
	}
	> .cta{
		padding-top: $spacing-unit / 4;
	}
	> .copyright{
		display: block;
		padding-top: $spacing-unit;
		font-size: .625em;
		color: #9f9f9f;
	}
	> .flourish{
		display: none;
		max-width: none;
		@include media-query($laptop) {
			display: block;
			position: absolute;
			bottom: 0;
			&.-milk{
				max-height: 682px;
				left: 0;
				transform: translateX(-80%);
			}
			&.-crumbs{
				max-height: 370px;
				right: 0;
				transform: translateX(60%);
			}
		}
	}
}

.contact-form{
	font-size: .75em;
	max-width: 20rem;
	margin: 0 auto;
	position: relative;

	@include media-query($laptop){
		font-size: .625em;
	}

	& label{
		display: block;
		padding-top: $spacing-unit / 2;
		color: #9f9f9f;
		cursor: pointer;
	}

	& input, textarea{
		display: block;
		width: 100%;
		margin: 0 auto;
		margin-top: $spacing-unit / 4;
		padding: .75em;
		border-radius: $border-radius;
		font-size: inherit;
		background-color: #e6e6e6;
		border: 2px solid transparent;
		transition: .3s ease;
		transition-property: background border;

		&:focus{
			outline: none;
			border-color: $secondary-color;
			background-color: $bg-color;
		}

		&[type='submit']{
			margin-top: $spacing-unit / 2;
			background: $bg-color;
			border-color: $primary-color;
			color: $primary-color;
			font-weight: bold;
			cursor: pointer;
			-webkit-appearance: none;
			&:hover,:active{
				background: $primary-color;
				color: $bg-color;
			}
		}
	}

    & textarea{
        resize: none;
        border-radius: $border-radius/2;
    }

	> .flourish{
		max-width: none;
		position: absolute;

		&.-pen{
			display: none;
		}

		@include media-query($laptop) {
			&.-pen{
				display: block;
				max-height: 390px;
				top: 0;
				right: 0;
				transform: translate(150%, 0%);
			}
		}
	}
}
