/*
Objects
*/

.container{
	width: 90%;
	max-width: 1000px;
	margin: 0 auto;

	@include media-query($tablet) {
		width: 80%;
	}
	@include media-query($laptop) {
		width: 70%;
	}
	@include media-query($desktop) {
		width: 60%;
	}
}

.row{
	&:before, &:after{
		content: " ";
		display: table;
	}

	&:after{
		clear: both;
	}

	@include media-query($tablet) {
    	> .column{
    		float: left;
    		&.full { width: 100%; }
            &.two-thirds { width: 66.7%; }
			&.half { width: 50%; }
			&.third { width: 33.3%; }
			&.fourth { width: 25%; }
    	}

        > .offset{
            &--two-thirds { margin-left: 66.7%; }
			&--half { margin-left: 50%; }
			&--third { margin-left: 33.3%; }
			&--fourth { margin-left: 25%; }
        }

    	&.-reverse{
			> .column{
				float: right;
			}
		}
	}

}

.btn{
    display: inline-block;
    margin-top: $spacing-unit / 2;
    padding: .15em 1.5em;
    font-size: .75em;
    font-weight: bold;
    color: $secondary-color;
    border-radius: $border-radius;
    border: 2px solid $secondary-color;

    &:hover,
    &:active{
        background: $secondary-color;
        color: $bg-color;
    }
}
