/* 
Generic 
*/

*, *:before, *:after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
}

html,
form,
input,
textarea,
button{
	font-family: $font-body;
	font-size: $font-size;
	font-weight: lighter;
	line-height:  $line-height;

	@include media-query($tablet) {
    	font-size: $font-size * 1.25;
	}

	@include media-query($desktop) {
    	font-size: $font-size * 1.5;
	}
}

