/* 
Settings 
*/

// color //
$bg-color: #fafafa;
$text-color: #31332e;
$primary-color: #d24444;

// size //
$font-size: 20px;
$line-height: 1.5em;
$spacing-unit: 2.5rem;
$border-radius: 2em;

// fonts //
$font-title: "kepler-std-display",serif;
$font-body: "sofia-pro",sans-serif;

// breakpoints //
$tablet: 700px;
$laptop: 900px;
$desktop: 1200px;